h1{
    text-align: center;
    margin-top: 50px;
    font-size: 48px;
    color: rgb(11, 255, 113);
}

table{
    margin: 30px auto;
    text-align: center;
    font-size: 28px;
}

td>button{
    width: 100px;
    padding: 8px;
    border: 1px solid rgb(95, 5, 238);
    background-color: rgba(241, 28, 0, 0.315);
    color: rgb(19, 17, 17);
    font-size: 20px;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.4s ease;
}
td>button:hover{
    color: aqua;
    background-color: rgb(21, 110, 110);
}